/* Global styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

body {
	font-family: Arial, sans-serif;
	background-color: #c01f1f;
}



body img{
	width: 150px;
}


header {
	background-color: #333333c4;
	color: #fff;
	padding: 20px;
	text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #333;
	text-decoration: none;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section {
	background-color: #fff;
	padding: 20px;
	margin: 20px;
	width: 550px; /* default width for desktop */
}

h1, h2 {
	margin-bottom: 10px;
}

/* Media queries for responsive design */
/* Mobile devices (max-width: 480px) */
@media only screen and (max-width: 480px) {
	nav ul {
		flex-direction: column;
	}
	nav li {
		margin-right: 0;
	}
	section {
		width: 100%; /* full width for mobile */
	}

	body{
		background-color: aqua;
	}
}

/* Tablet devices (max-width: 768px) */
@media only screen and (max-width: 768px){
    nav ul{
        flex-direction:column;
    }
    nav li{
        margin-right:0;
    }
    section{
        width:100%;  /*full width for tablets*/
    }
}

footer{
	position:fixed;
	background-color: #333;
	bottom: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	margin-top: 500x;
	padding-top: 2%;
}
/*.braga {
 
		background-image: url('css/images/braga-church1.jpg');
		background-size: cover; 
		background-position: center; 
		width: 100%; 
		height: 400px; 
	}
	*/
